/* Estilo general del body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa; /* Fondo claro */
    font-family: 'Arial', sans-serif;
}

.logo {
    max-width: 150px; /* Tamaño máximo de la imagen */
    margin-bottom: 0px; /* Espaciado entre la imagen y el título */
    margin-top: 40px; /* Agrega espacio superior para que la imagen esté más abajo */
}

/* Contenedor del formulario */
form {
    width: 100%;
    max-width: 400px;
    padding: 20px;

}

/* Etiquetas */
.form-label {
    font-weight: bold;
    color: #495057; /* Texto oscuro */
}

/* Inputs */
.form-control {
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #0d6efd; /* Azul Bootstrap */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Sombra azul */
}

/* Checkbox */
.form-check-input {
    cursor: pointer;
}

.form-check-label {
    margin-left: 5px;
    font-size: 0.9rem;
    color: #6c757d; /* Texto gris */
}

/* Botón */
.btn-primary {
    width: 100%;
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #0177f5; /* Azul más oscuro */
    transform: scale(1.05); /* Efecto de aumento */
}
